.env
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
logs/*.log*
data/processed/*
!data/processed/.gitkeep
data/raw/**/*.pdf
data/raw/**/*.docx
data/raw/**/*.pptx
notebooks/.ipynb_checkpoints/
.venv/
venv/
.idea/
.vscode/
